.logo {
  width: 170px;
  padding: 5px 0;
}

.responsive-logo {
  width: 120px;
  top: -30px;
}

.sticky-active {
  .logo {
    width: 120px;
    padding: 0;
  }
}

.relative {
  position: relative;
}

.cartCounter {
  position: absolute;
  left: 10px;
  top: -25px;
  font-size: 14px!important;
  font-weight: bold;
  color: white!important;
  background-color: deeppink;
  padding: 0 4px;
  border-radius: 5px;
  opacity: .7;
}
